
<div class="container-fluid">
  <div *ngIf="role === 'Admin'; else manager">
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation"><a [routerLink]="['/admin/customer']">Customers</a></li>
      <li role="presentation"><a [routerLink]="['/admin/manager']">Managers</a></li>
      <li role="presentation"><a [routerLink]="['/admin/profile']">Profile</a></li>
    </ul>

    <ul class="nav nav-tabs nav-justified">
      <li role="presentation">
        <a [routerLink]="['/admin/manager/', managerId]" class="btn">
          Manager's Profile
        </a>
      </li>
      <li role="presentation">
        <a [routerLink]="['/admin/restaurant/', restaurantId, 'driver']" class="btn">
          View Drivers
        </a>
      </li>
      <li role="presentation">
        <a [routerLink]="['/admin/restaurant/', restaurantId, 'chef']" class="btn">
          View Chefs
        </a>
      </li>
      <li role="presentation" class="active">
        <a [routerLink]="['/admin/restaurant/', restaurantId, 'order']" class="btn">
          View Orders
        </a>
      </li>
    </ul>
  </div>
  <ng-template #manager>
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation">
        <a [routerLink]="['/manager/restaurant', restaurantId]" class="btn">
          Manager's Profile
        </a>
      </li>
      <li role="presentation">
        <a [routerLink]="['/manager/restaurant/', restaurantId, 'driver']" class="btn">
          View Drivers
        </a>
      </li>
      <li role="presentation">
        <a [routerLink]="['/manager/restaurant/', restaurantId, 'chef']" class="btn">
          View Chefs
        </a>
      </li>
      <li role="presentation" class="active">
        <a [routerLink]="['/manager/restaurant/', restaurantId, 'order']" class="btn">
          View Orders
        </a>
      </li>
    </ul>
  </ng-template>
  <ul class="list-group">
    <li class="list-group-item active">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          Order Number
        </div>
        <div class="col-sm-4 hidden-xs">
          Order Price
        </div>
        <div class="col-sm-4 hidden-xs">
          Order Status
        </div>
      </div>
    </li>

    <li class="list-group-item" *ngFor="let order of orders">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <a>
            {{order['_id']}}
          </a>
        </div>
        <div class="col-sm-4 hidden-xs">
          {{order['total']}}
        </div>
        <div class="col-sm-4  hidden-xs">
          {{order['state']}}
        </div>
      </div>
    </li>
  </ul>
</div>
