<header>
  <a [routerLink]="['']" class="white"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <span class="food-center">FoOdSpOt </span>
</header>
<div class="container-fluid">
  <div *ngIf="errorFlag">
    There is an error! Please try again later.
  </div>
  <div class="thanks" *ngIf="this.success">
    <h1 class="text-center text-success">Thanks for claiming the Restaurant.</h1>
    <div class="text-center">
      <span class="glyphicon glyphicon-ok-sign registration-success"></span>
    </div>
    <p class="info text-center">You should be able to manage the restaurant as soon as this request is approved.</p>
    <a [routerLink]= "['/']"
       class="btn btn-primary btn-block">
      Homepage
      <span class="glyphicon glyphicon-arrow-right"></span>
    </a>

  </div>
  <div *ngIf="!this.success">
    <h1>Register to Claim {{restaurantId}}</h1>
    <form (ngSubmit) = "register()" #f="ngForm">
      <input type="text"
             name="username"
             ngModel
             required
             #username="ngModel"
             class="form-control"
             placeholder="Username" />
      <span class="help-block" *ngIf="!username.valid && username.touched">
        Please enter username!
      </span>

      <input type="password"
             name="password"
             ngModel
             required
             #password="ngModel"
             class="form-control"
             placeholder="Password" />
      <span class="help-block" *ngIf="!password.valid && password.touched">
        Please enter Password!
      </span>

      <input type="password"
             ngModel
             required
             name="verifyPassword"
             #verifyPassword="ngModel"
             class="form-control"
             placeholder="Verify Password" />
      <span class="help-block" *ngIf="!verifyPassword.valid && verifyPassword.touched">
        Please enter Verification password!
      </span>

      <input type="text"
             ngModel
             required
             name="firstName"
             #firstName="ngModel"
             class="form-control"
             placeholder="First Name" />
      <span class="help-block" *ngIf="!firstName.valid && firstName.touched">
        Please enter First Name!
      </span>

      <input type="text"
             ngModel
             required
             name="lastName"
             #lastName="ngModel"
             class="form-control"
             placeholder="Last Name" />
      <span class="help-block" *ngIf="!lastName.valid && lastName.touched">
        Please enter Last Name!
      </span>

      <input type="email"
             ngModel
             required
             name="email"
             #email="ngModel"
             class="form-control"
             placeholder="Email" />
      <span class="help-block" *ngIf="!email.valid && email.touched">
        Please enter Email!
      </span>

      <input type="text"
             ngModel
             required
             name="phone"
             #phone="ngModel"
             class="form-control"
             placeholder="Phone Number" />
      <span class="help-block" *ngIf="!phone.valid && phone.touched">
        Please enter Phone Number!
      </span>

      <button class="btn btn-primary btn-block"
              type="submit"
              [disabled]="!f.valid">Register</button>
      <a [routerLink]= "['/login']"
         class="btn btn-danger btn-block">
        Cancel
      </a>
    </form>
  </div>
</div>
<footer>
  <div class="food-right">
    <p><b>© Abhishek Sadaab Vivek</b></p>
  </div>
</footer>

