
<div class="container-fluid">
  <div *ngIf="role === 'Admin'; else manager">
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation"><a [routerLink]="['/admin/customer']">Customers</a></li>
      <li role="presentation"><a [routerLink]="['/admin/manager']">Managers</a></li>
      <li role="presentation"><a [routerLink]="['/admin/profile']">Profile</a></li>
    </ul>

    <ul class="nav nav-tabs nav-justified">
      <li role="presentation">
        <a [routerLink]="['/admin/manager/', managerId]" class="btn">
          My Profile
        </a>
      </li>
      <li role="presentation" class="active">
        <a [routerLink]="['/admin/restaurant/', restaurantId, 'driver']" class="btn">
          View Drivers
        </a>
      </li>
      <li role="presentation">
        <a [routerLink]="['/admin/restaurant/', restaurantId, 'chef']" class="btn">
          View Chefs
        </a>
      </li>
      <li role="presentation">
        <a [routerLink]="['/admin/restaurant/', restaurantId, 'order']" class="btn">
          View Orders
        </a>
      </li>
    </ul>
  </div>
  <ng-template #manager>
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation">
        <a [routerLink]="['/manager/restaurant', restaurantId]" class="btn">
          My Profile
        </a>
      </li>
      <li role="presentation">
        <a [routerLink]="['/manager/restaurant/', restaurantId, 'chef']" class="btn">
          View Chefs
        </a>
      </li>
      <li role="presentation" class="active">
        <a [routerLink]="['/manager/restaurant/', restaurantId, 'driver']" class="btn">
          View drivers
        </a>
      </li>
      <li role="presentation">
        <a [routerLink]="['/manager/restaurant/', restaurantId, 'order']" class="btn">
          View Orders
        </a>
      </li>
      <li role="presentation">
        <a (click)="AddOrViewMenu()" class="btn">
          View Menu
        </a>
      </li>
    </ul>
  </ng-template>
  <ul class="list-group">
    <li class="list-group-item active">
      <div class="row">
        <div class="col-xs-6 col-md-3">
          Name
        </div>
        <div class="col-md-3 hidden-sm hidden-xs">
          Email
        </div>
        <div class="col-md-2 hidden-xs hidden-sm">
          Phone
        </div>
        <div class="col-xs-3">
          Restaurant
        </div>
        <div class="col-xs-3 col-md-2">
        </div>
      </div>
    </li>

    <li class="list-group-item" *ngFor="let driver of drivers">
      <div class="row">
        <div class="col-xs-6 col-md-3">
          <div *ngIf="role === 'Admin'; else manager">
            <a [routerLink]="['/admin', 'restaurant', restaurantId, 'driver', driver._id]">
              {{driver.firstName}} {{driver.lastName}}
              <span class="glyphicon glyphicon-edit"></span>
            </a>
          </div>
          <ng-template #manager>
            <label>
              {{driver.firstName}} {{driver.lastName}}
            </label>
          </ng-template>
        </div>
        <div class="col-md-3 hidden-sm hidden-xs">
          {{driver.email}}
        </div>
        <div class="col-md-2 hidden-xs hidden-sm">
          {{driver.phone}}
        </div>
        <div class="col-xs-3">
          {{driver.restaurantId}}
        </div>
        <div class="col-xs-3 col-md-1">
          <div *ngIf="driver.active; else inactive">
            <div *ngIf="role === 'Admin'; else manager">
              <div class="alert alert-success">
                <strong>Active</strong>
              </div>
            </div>
            <ng-template #manager>
              <button (click)="ToggleStatus(driver)" class="btn btn-danger btn-block"
              >Deactivate</button>
              <div class="alert alert-success">
                <strong>Active</strong>
              </div>
            </ng-template>
          </div>
          <ng-template #inactive>
            <div *ngIf="role === 'Admin'; else manager">
              <div class="alert alert-danger">
                <strong>Inactive</strong>
              </div>
            </div>
            <ng-template #manager>
              <button (click)="ToggleStatus(driver)" class="btn btn-success btn-block"
              >Activate</button>
              <div class="alert alert-danger">
                <strong>Inactive</strong>
              </div>
            </ng-template>
          </ng-template>
        </div>
      </div>
    </li>
  </ul>
</div>
