<form (ngSubmit) = "AddMenu()" #f="ngForm">

  <nav class="navbar sadaab-navbar-color navbar-default navbar-fixed-top nav-collapse collapsing" style="height:60px">
    <p class="navbar-text pull-left page-new-top-glyp-margin">
      <a [routerLink]="['/manager', 'restaurant', restaurantId ]" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left page-new-top-glyp-margin">
      <a class="navbar-brand thick">
        <b>Add new Menu</b>
      </a>
    </p>
  </nav>

  <div class="container-fluid page-margin">
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation">
        <a [routerLink]="['/manager','restaurant', restaurantId]" class="btn">
          My Profile
        </a>
      </li>
      <li role="presentation">
        <a [routerLink]="['/manager','restaurant', restaurantId, 'chef']" class="btn">
          View Chefs
        </a>
      </li>
      <li role="presentation">
        <a [routerLink]="['/manager', 'restaurant', restaurantId, 'driver']" class="btn">
          View Drivers
        </a>
      </li>
      <li role="presentation">
        <a [routerLink]="['/manager/restaurant/', restaurantId, 'order']" class="btn">
          View Orders
        </a>
      </li>
      <li role="presentation" class="active">
        <a class="btn">
          View Menu
        </a>
      </li>
    </ul>
    <div class="row">
      <label class="">Delivery Charge</label>
      <input class="form-control"
             type="text"
             id = "deliveryCharge"
             [(ngModel)] = "deliveryCharge"
             placeholder="Delivery Charge"
             name="deliveryCharge"/>
      <label class="">Order limit</label>
      <input class="form-control"
             type="text"
             id = "orderLimit"
             [(ngModel)] = "orderLimit"
             placeholder="Minimum order limit"
             name="orderLimit"/>
      <button [routerLink]="['/manager', 'restaurant', this.restaurantId]"
              type="submit"
              class="btn btn-success btn-block">
        Done
      </button>
    </div>
  </div>
</form>
