<nav class="navbar sadaab-navbar-color navbar-default navbar-fixed-top nav-collapse collapsing" style="height:60px">
  <p class="navbar-text pull-left page-new-top-glyp-margin">
    <a [routerLink]="['/manager', 'restaurant', restaurantId ]" class="navbar-link">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
  </p>

  <!--heading on the nav bar-->
  <p class="navbar-header pull-left page-new-top-glyp-margin">
    <a class="navbar-brand thick">
      <b>Menu</b>
    </a>
  </p>
</nav>

<div class="container-fluid page-margin">
  <ul class="nav nav-tabs nav-justified">
    <li role="presentation">
      <a [routerLink]="['/manager','restaurant', restaurantId]" class="btn">
        My Profile
      </a>
    </li>
    <li role="presentation">
      <a [routerLink]="['/manager','restaurant', restaurantId, 'chef']" class="btn">
        View Chefs
      </a>
    </li>
    <li role="presentation">
      <a [routerLink]="['/manager', 'restaurant', restaurantId, 'driver']" class="btn">
        View Drivers
      </a>
    </li>
    <li role="presentation">
      <a [routerLink]="['/manager/restaurant/', restaurantId, 'order']" class="btn">
        View Orders
      </a>
    </li>
    <li role="presentation" class="active">
      <a class="btn">
        View Menu
      </a>
    </li>
  </ul>
  <div class="row">
    <button [routerLink]="['/manager', 'restaurant', restaurantId, 'menu', menuId]" class="btn btn-primary btn-block"
    >Edit</button>
    <label class="">Delivery Charge</label>
    <input class="form-control"
           type="text"
           id = "delivery"
           [(ngModel)] = "deliveryCharge"
           placeholder="Delivery Charge"
           name="delivery"/>
    <label class="">Order limit</label>
    <input class="form-control"
           type="text"
           id = "orderLimit"
           [(ngModel)] = "orderLimit"
           placeholder="Minimum order limit"
           name="orderLimit"/>
  </div>
</div>

<div class="container-fluid">
  <label class="">Menu Items</label>
  <ul class="list-group">
    <li class="list-group-item active">
      <div class="row">
        <div class="col-xs-9 col-sm-6 col-md-3">
          Name
        </div>
        <div class="col-md-3 hidden-sm hidden-xs">
          Price
        </div>
        <div class="col-sm-3 col-md-3 hidden-xs">
          Category
        </div>
      </div>
    </li>
    <li class="list-group-item" *ngFor="let item of menuItems">
      <div class="row">
        <div class="col-xs-9 col-sm-6 col-md-3">
          <a>
          {{item['name']}}
          </a>
        </div>
        <div class="col-md-3 hidden-sm hidden-xs">
          {{item['price']}}
        </div>
        <div class="col-sm-3 col-md-3 hidden-xs">
          {{item['category']}}
        </div>
      </div>
    </li>
  </ul>
</div>
