.page-margin
{
  top: 0px;
  bottom: 0px;
  left: 0px;
  margin-top: 50px;
  padding-top: 15px
}
.food-bottombuff
{
  margin-bottom: 70px;
}

.food-right
{
  text-align: right;
}


.food-center
{
  font-size: xx-large;
}

header .food-center {
  padding: 0;
}
