<!--<input [(ngModel)]="restaurant" placeholder="Restaurant Name" class="restaurant_seach_input_field form-control">-->
<!--<input [(ngModel)]="location" placeholder="Location" class="location_seach_input_field form-control">-->
<!--<button (click)="SearchRestaurant(restaurant,location)"-->
<!--class="btn btn-primary btn-block search_button">Search</button>-->
<header>
  <div class="container food-center">
    <a [routerLink]="['/']" class="white pull-left"><span class="glyphicon glyphicon-chevron-left"></span></a>

    <div class="login pull-right" *ngIf="this.user;else login">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Account
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a [routerLink]="['profile']">
              My Profile
            </a>
          </li>
          <li>
            <a [routerLink]="['orders']">
              My Orders
            </a>
          </li>
          <li>
            <a (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
    <ng-template #login>
      <div class="pull-right">
        <a [routerLink]="['/login']" class="btn btn-default btn-lg">
          Login
        </a>
        <a [routerLink]="['/register']" class="btn btn-primary btn-lg">
          Sign Up
        </a>
      </div>
    </ng-template>
    <span class="food-center">FoOdSpOt </span>
  </div>
</header>
<div class="container food-bottombuff"  >
  <div class="row search-box">
    <div class="col-xs-12 col-sm-4">
      <input [(ngModel)]="restaurant" placeholder="Restaurant Name" class="restaurant_seach_input_field form-control">
    </div>
    <div class="col-xs-12 col-sm-4">
      <input [(ngModel)]="location" placeholder="Location" class="location_]seach_input_field form-control">
    </div>
    <div class="col-xs-12 col-sm-4">
      <button (click)="SearchRestaurant(restaurant,location)"
              class="btn btn-primary btn-block search_button">
          <span class="glyphicon glyphicon-search">
          </span>
        Search
      </button>
    </div>
  </div>
  <div class="search-results">
    <div class="row search-row" *ngFor="let restaurant of searchedRestro">
      <div class="image-container col-xs-3 col-sm-offset-2 col-sm-2">
        <a [routerLink]="['/restaurant',restaurant.id]">
          <img class="restro_image thumbnail" src="{{restaurant['image_url']}}" />
        </a>
      </div>
      <div class="col-xs-5 col-sm-4">
        <a [routerLink]="['/restaurant',restaurant.id]">
          {{restaurant['name']}}
        </a>
        <div>
          <rating [(ngModel)]="restaurant['rating']"
                  readonly="true"
                  [float]="true">
          </rating>
          <span class="reviews">Reviews: {{restaurant.review_count}}</span>
          <div class="price">{{restaurant.price}}</div>
          <div class="categories">{{categories(restaurant.categories)}} </div>
        </div>
      </div>
      <div class="col-xs-4 col-sm-2">
        {{restaurant['location'].address1}}
        {{restaurant['location'].address2}}
        {{restaurant['location'].city}}
        {{restaurant['location'].zip_code}}
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="food-right">
    <p><b>© Abhishek Sadaab Vivek</b></p>
  </div>
</footer>
